body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.s{
    background: crimson;
    width: calc(100px + 100px);
    height: calc(100px - 20px);
    margin:calc(20px*2);
    border-radius: 15px calc(20px/10);
}