*{
    margin: 0;
}

div{
    /* border-width: 2px;
    border-style: solid;
    border-color:  red */
    border:2px solid teal;
     
/* border-left: 2px solid red;
border-right:2px solid black;
border-bottom: 2px solid black;
border-top: 2px solid lightblue; */
/* padding: 20px;*/
/* padding-bottom: 20px;
padding-left:10px;
padding-right: 5px; */
/* padding: 10px 20px; */
/* margin:20px; */
margin-left: 20px;
margin: 20px 20px 10px 30px;

}
